<!-- home.html -->
{% extends 'app.html' %}

{% block extracss %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-1 mt-2">
				<div class="card">
					<div class="card-header">
						<h3>Welcome</h3>
					</div>
					<div class="card-block">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro assumenda aut officiis quae ex delectus, id voluptatibus ipsum. Id velit accusamus unde expedita adipisci, autem dignissimos assumenda earum impedit odit eveniet rem incidunt modi sed excepturi iste neque nesciunt deserunt! Placeat cumque enim laborum commodi ut porro et earum modi quidem labore magni libero in aliquid blanditiis ipsum explicabo deserunt, harum molestiae provident fugit odit eligendi unde neque at. Consequuntur pariatur, similique doloribus iure corporis alias ut esse modi cumque minima rem minus dicta sed, quis, aut odit dolorem laboriosam incidunt! Reprehenderit distinctio, quo officia iure porro qui ipsa libero.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrajs %}
{% endblock %}